html,body{
    background-color: gray;
}
img{
    height:3cm;
    width:3cm;
}
.g{
    display: flex;
    flex-direction: column;
    gap:1cm;
    margin-left: 4cm;
}
#num{
    height:2cm;
    width:5cm;
    text-align: center;
}
#guess{
    height:2cm;
    width:4cm;
    border-radius: 2cm;
}
